# Environments
.venv/
venv/
godnathistorie_env/

# Instance Folder - VIGTIGT for at ignorere databasen
/instance/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# IDE files (PyCharm)
.idea/

# Log filer
*.log

# Downloadede nøgler (Service Account Keys etc.)
# Ignorerer alle .json filer for en sikkerheds skyld
*.json
!static/laesehest_data.json

# macOS specific
.DS_Store

.env
